In [1]:
from dateutil.parser import parse
import pandas as pd

In [2]:
data = pd.read_csv("S&P500.csv")

data['Date']  # as a Series
date_array = data['Date'].values  # as a numpy array

In [4]:
d_list = []
for date in date_array:
    dt = parse(date)
    d_item = (str(dt.date()))    
    d_list.append(d_item)
dfDate = pd.DataFrame (d_list,columns=['Date'])
#d_list

In [5]:
dfSP500 = pd.read_csv("S&P500.csv")
dfSP500.set_index('Date')
dfSP500 = dfSP500.rename(columns={'Price':'SP500', 'Date':'ODate'})

In [6]:
dfSP500 = dfSP500.join(dfDate)
dfSP500 = dfSP500.dropna()
dfSP500 = dfSP500[['Date', 'SP500']]
dfSP500

           Date     SP500
0    2018-03-29  2,640.87
1    2018-03-28  2,605.00
2    2018-03-27  2,612.62
3    2018-03-26  2,658.55
4    2018-03-23  2,588.26
..          ...       ...
687  2015-07-08  2,046.68
688  2015-07-07  2,081.34
689  2015-07-06  2,068.76
690  2015-07-02  2,076.78
691  2015-07-01  2,077.42

[692 rows x 2 columns]